[Unit]
Description=Homebridge HomeKit Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/.homebridge
ExecStart=/usr/local/bin/homebridge
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
SyslogIdentifier=homebridge

[Install]
WantedBy=multi-user.target
