[Unit]
Description=LED Strip Light Flask HTTP Server
After=network.target
# Ensure pigpio daemon is running before starting this service
Wants=pigpiod.service
After=pigpiod.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/raspberry/ledstriplight
ExecStart=/usr/bin/python3 -u ./http_server.py
StandardOutput=append:/var/log/ledstriplight.log
StandardError=inherit
Restart=always
RestartSec=10
SyslogIdentifier=http_server
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
